body {
    font-family: Montserrat, sans-serif;
    position: relative;
  }
  
  
  .navbar-nav .nav-item:hover {
    background-color: rgba(180, 190, 203, 0.4);
  }
  
  .navbar-center{
    
      position: absolute;
      left: 50%;
      transform: translatex(-50%);
    width: 20%;
    overflow:hidden;
    top:10px;
  }
