<div class="navbar-blur"></div>
<nav class="navbar  navbar-expand-md py-1 navbar-light bg-light sticky-top  shadow-sm p-3 
" >

    <div class="container-fluid">
      
        <a href="#" class="navbar-brand"><img src="assets/images/nav-logo.png" width="35px" alt=""></a>
      
    
      <div class="input-group input-group-sm  navbar-center">
        <div class="input-group-prepend" >
          <span class="input-group-text" id="inputGroup-sizing-sm" style="border-right: none; border-radius: 2px; height: 30px;"><i class='bx bx-search' ></i></span>
        </div>
        <input type="text" class="form-control bg-light" aria-label="Small" placeholder="Search..." aria-describedby="inputGroup-sizing-sm" style="text-align: center; position: relative; border-left: none; height: 30px;">
      </div>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" >
        <span class="navbar-toggler-icon" style="height: 18px; width: 18px;"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-md-auto gap-2">
          <li class="nav-item rounded">
            <a class="nav-link " aria-current="page" href="#"><i class='bx bxs-home'></i> Home</a>
          </li>
          <li class="nav-item rounded">
            <a class="nav-link" href="#"><i class='bx bxs-user-voice' ></i> About</a>
          </li>
          <li class="nav-item rounded">
            <a class="nav-link" href="#"><i class='bx bxs-phone-call' ></i> Contact</a>
          </li>
          <li class="nav-item dropdown rounded">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class='bx bxs-user' ></i> {{currentUserName}}</a>
            <ul class="dropdown-menu dropdown-menu-end bg-light" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#" style="color: rgb(97, 97, 97);"><i class='bx bxs-user-rectangle' ></i> My Profile</a></li>
              <li><a class="dropdown-item" href="#" style="color: rgb(97, 97, 97);"><i class='bx bxs-brightness' ></i> Settings</a></li>
              <li>
                <hr class="dropdown-divider" style="color: rgb(97, 97, 97);">
              </li>
              <li><a class="dropdown-item" href="#" style="color: rgb(97, 97, 97);"><i class='bx bx-log-out' ></i> Logout </a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

  </nav>
