 <app-navmenu></app-navmenu>
<div class="index" style="position: relative;">

<div class="content container-fluid">
  <div class="row ">
    <div class="col-sm-2 " style="height: 100%;">
  <app-sidemenu></app-sidemenu>
    </div>
    <div class="col-sm-10" style="background-color: #f6f6f6;">
      <app-breadcrumb-date></app-breadcrumb-date>
      <router-outlet></router-outlet>
    </div>
  </div>
  
</div>
</div> 
<!-- <router-outlet></router-outlet> -->
 <!-- <app-navmenu></app-navmenu>
<app-error-page></app-error-page> -->