<div class="container-fluid w-100 po">
<div class="row"> 
  <div class="col-md-6 svg" style="position: relative;" >
            <img  src="assets/images/Login/login.svg" width="75%" height="75%" alt="">
     </div>
     <div class="mx-auto dvi" >
        <h1>wapp-it</h1>
        <h4>Login</h4>
     </div>
       <div class="col-md-6 content " >
        <div class="log">
            <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Username</label>
                  <input type="text" class="form-control" id="exampleInputEmail1"  required>
                  <div id="emailHelp" class="form-text">We'll never share your username with anyone else.</div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label" >Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" required>
                </div>
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input chckbox" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1" >Remember me</label>
                </div>
                <button pButton pRipple type="submit" label="Login" class="p-button-danger" style="background-color: #EA5C69; border-color: rgb(238, 84, 105);" ></button>
              </form>
        </div>
       </div>
     
     
    </div>
</div>
